# 4.6.2 Merging and Exporting Data

### This script contains the following points:

### 1. Importing Libraries and Data

### 2. Checking the Dimension of the imported Dataframes

### 3. Determine a suitable way to combine the "orders_products_combined" dataframe with your products data set.

### 4. Confirming the results of the merge using the merge flag

### 5. Exporting the newly created dataframe as "ords_prods_merge" in a suitable format

## 1. Importing Libraries and Data

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\simpe\Instacart Basket Analysis'

In [3]:
df_merged_large = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
df_prods_cleaned = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

## 2. Checking the Dimension of the imported Dataframes

In [5]:
df_merged_large.shape

(32434489, 11)

In [6]:
df_prods_cleaned.shape

(49672, 6)

In [7]:
df_merged_large.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both

In [8]:
df_prods_cleaned.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_orders_products_merged = df_merged_large.merge(df_prods_cleaned, on = 'product_id')

In [10]:
df_orders_products_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,195,Soda,77,7,9.0
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both,14084,Organic Unsweetened Vanilla Almond Milk,91,16,12.5
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both,12427,Original Beef Jerky,23,19,4.4
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both,26089,Aged White Cheddar Popcorn,23,19,4.7
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both,26406,XL Pick-A-Size Paper Towel Rolls,54,17,1.0

## 4. Confirming the results of the merge using the merge flag

In [11]:
df_orders_products_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

## 5. Exporting the newly created dataframe as "ords_prods_merge" in a suitable format

In [12]:
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))